

.page-layout {
    display: grid;
    grid-template-areas:
        "header header"
        "sidebar main"
        "sidebar footer";
    grid-template-columns: 0.3fr 1fr; /* Spalte 1: fix, Spalte 2: Rest */
    grid-template-rows: auto 1fr 1fr; /* Zeilen: Inhalt, wächst, Inhalt */

}
.page-header {
grid-area: header;
background-color: var(--color-brand-bg);
box-shadow: -30px 0 10px rgba(0,0,0,1);
color: var(--color-brand-white);

}
.page-sidebar {
grid-area: sidebar;
background-color: var(--color-brand-bg-shade-a);
color: var(--color-brand-white);
}
.page-main { grid-area: main; }
.page-footer { grid-area: footer; }



img {
     height: 64px;
     width: 64px;
     border-radius: 32px;
     margin: 10px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
 }
 .Contact {
      border-radius: 16px;
      margin: 20px;
      border:1px solid var(--color-brand-bg-shade-b);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: left;
      align-items: center;
      text-align: center;
      transition: transform 0.3s ease;
      background-color: var(--color-brand-bg-shade-a);
      min-width:200px
 }
 .Contact:hover {
    /*Looks shitty transform: translateY(10px);*/
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
    background-color: var(--color-brand-bg-shade-b);
 }

/*the messages you received and your own messages */
.message_received {
    margin: 20px;
    background-color: var(--color-brand-bg);
    border-radius: 16px;
    border:1px solid var(--color-brand-bg-shade-b);
    display: flex;
    justify-content: flex-start;
    display: inline-block
}
.message_send {
    margin:20px;
    background-color: var(--color-brand-white);
    border-radius: 16px;
    border:1px solid var(--color-brand-bg-shade-b);
    display: flex;
    justify-content: flex-end;
    display: inline-block
}